<footer class="w3-center w3-dark w3-padding-16" id="footer">
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
      <div class="container text-center text-md-left">
      <div class="row">
      <div class="col-md-3 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <h3 class="font-weight-bold text-uppercase mb-4">Mapstreak</h3>
          <ul class="list-unstyled">
            <li><h4>We provide a compleate solution to all your needs, To join with us in this venture do contact us.</h4></li>
          </ul>
  
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h3 class="font-weight-bold text-uppercase mb-4">About us</h3>
          <div class="about-us">
          <ul class="list-unstyled">
            <li><p>Who we are</p></li>
            <li><p>Add resturents</p></li>
            <li><p>Deliver</p></li>
            <li><p>Contact us</p></li>
          </ul>
      </div>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">   
          <h3 class="font-weight-bold text-uppercase mb-4">Address</h3>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-home" aria-hidden="true"></i> New York, NY 10012, US</p>
            </li>
            <li><p><i class="fa fa-envelope" aria-hidden="true"></i></i> info@example.com</p>
            </li>
            <li><p><i class="fa fa-phone-square" aria-hidden="true"></i> + 91 8484020850</p>
            </li>
            <li><p><i class="fa fa-phone-square" aria-hidden="true"></i>+ 01 xxxxxxxxxx</p>
            </li>
          </ul>
        </div>
        
        <hr class="clearfix w-100 d-md-none">
        
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4 social-icons">
          <h3 class="font-weight-bold text-uppercase ">Connect </h3>
          <ul class="list-unstyled">
            <li><a href="#"><span style="font-size: 3em; color: rgb(0, 0, 0);"><i class="fab fa-facebook-square"></i></span></p></a>
            </li>
            <li><a href="#"><p><span style="font-size: 3em; color: rgb(0, 0, 0);"><i class="fab fa-whatsapp"></i></span></p></a>
            </li>    
          </ul>
        </div>
      </div>
    </div>
   
    <div class="footer-copyright text-center py-3" id="copyrights" >© 2021 Copyright: Mapstreak Flyseas Private Limited
    </div>
  </footer>