<%- include('partials/partnerhead'); -%>

<div class="col-12">
    <h3>Company Overview </h3>
    <hr>
    <p>
    Everything you wish, mapstreak app will listen.A revolutionary technology and a future changing online platform where all needs of a common man will be fulfilled in just blink of an eye and just siting at your couch. Whether you need mouth-watering food, haircut and salon facilities, fresh groceries,medicine,tiffin delivery, phone repair, gym ,yoga,appliance repair or any unimaginable wish will be just accomplished by our mapstreak hero’s and at the cheapest cost.
    Note-:Remember the low prices will make you addicted to our mapstreak app.
    </p>
    <h3>Our Features</h3> 
    <hr>
    <p>
    Mapstreak will provide incredible service solutions which will include food, medicine,grocery, pickup or drop and tiffin delivery. Men and women grooming assistance including barber and saloon at home. Also all home solutions such as repair and appliance maintenance, painter, plumber, electrician, carpenter, event planner, health and wellness instructors, all types of phones and gadgets repair facilities. Last but not the least we have all types of vehicle repair services too. Many more interesting things will be added soon. So stay tuned to get solutions for your dreams.
    </p>
    <h3>Company’s Goal</h3>
    <hr>
    <p>
    Making superior way of living without any worries under one app. Mapstreak doesn’t want its users to roam here and there in the market. We want to provide world class services and at the lowest price to our customers.
    </p>
    <h3>Customer support</h3>
    <hr>
    <p>
    Mapstreak is like a family. Every member is very special to us. If you are having any worries or trouble, don’t hesitate to contact us. Mapstreak hero’s will be there for you at any time of the day. We will be very happy to solve your problems. We are just one call or one message away.    
    </p>  
</div>

<%- include('partials/footer'); -%>