<%- include('partials/header'); -%>
<main>
    <div class="container w3-hide-small w3-hide-medium">
        <div class="row ">
            <div class="col-3  shadow p-3 mb-5 bg-white rounded" id="top-tabs">
               <img src="assets/img/background/tiffin.png">
               <div class="card-img-overlay"><b style="font-size: larger;font-weight:750;">TIFFINS</b><br>
                <span style="font-size: 2em; color: rgb(0, 225, 255); padding-right: 20px;"><i class="fas fa-arrow-alt-circle-right"></i></span>
               </div>
            </div>
            <div class="col-3  shadow p-3 mb-5 bg-white rounded" id="top-tabs">
                <b style="font-size: larger;font-weight:700;">MORE <br> CATEGORY COMING SOON</b>         
            </div>
        </div>

    </div>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/bg.png" style="opacity: 0.2;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-9 col-md-10">
                            <div class="hero__caption">
                                <div class="row time middle" style="margin:10px">
                                    <span style="height: 100px;width: 70px; color:white">
                                    <h2>
                                      <div id="d" style="color:white">20</div>
                                    </h2>
                                      Days
                                    
                                    </span>
                                    <span style="height: 100px;width: 70px; color:white">
                                      <h2>
                                      <div id="h" style="color:white">06</div>
                                      </h2>
                                      Hours
                                    </span>
                                    <span style="height: 100px;width: 70px; color:white">
                                      <h2>
                                      <div id="m" style="color:white">35</div>
                                      </h2>
                                      Minutes
                                    </span>
                                    <span style="height: 100px;width: 70px; color:white">
                                      <h2>
                                      <div id="s" style="color:white">54</div></h2>
                                      Seconds
                                      
                                    </span>
                                  </div>
                                  <script >
                                      var comingdate = new Date("22,feb , 2021 00:00:00");

var d = document.getElementById('d');
var h = document.getElementById('h');
var m = document.getElementById('m');
var s = document.getElementById('s');

var x = setInterval(function(){
  var now = new Date();
  var des = comingdate.getTime() - now.getTime();
  var days = Math.floor(des/(1000 * 60 * 60 * 24));
  var hours = Math.floor(des%(1000 * 60 * 60 * 24) / (1000 * 60 *60));
  var mins = Math.floor(des%(1000 * 60 * 60) / (1000 * 60));
  var secs = Math.floor(des%(1000 * 60) / 1000);

  d.innerHTML = getTrueNumber(days);
  h.innerHTML = getTrueNumber(hours);
  m.innerHTML = getTrueNumber(mins);
  s.innerHTML = getTrueNumber(secs);

  if(des <= 0) clearInterval(x);

},1000);

function getTrueNumber(x) {
  if (x<10) return '0'+x;
  else return x;
}

                                  </script>
                                <h1 style="color: white;font-family: Georgia, 'Times New Roman', Times, serif;">We Are Launching Soon</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row">
                        <div class="col-xl-8">
                            <!-- form -->
                            <form action="#" class="search-box">
                                
                                <!-- <div class="search-form">
                                    <a href="form.html">ADD</a>
                                </div>	 -->
                            </form>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 200px;">

    </div>
    <!-- slider Area End-->
    <!-- Our Services Start -->
    
    <!-- How  Apply Process End-->
    <!-- Testimonial Start -->
   
    <!-- Testimonial End -->
     <!-- Support Company Start-->

</main>

    <!-- <footer> -->
<%- include('partials/footer'); -%>
    <!-- </footer> -->

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>