
<%- include('partials/header'); -%>

<!--countdown-->
<div class="page">
  <div class="countdown-col col">
    <div class="time middle">
      <span>
        <div id="d">12</div>
        Days
      </span>
      <span>
        <div id="h">06</div>
        Hours
      </span>
      <span>
        <div id="m">35</div>
        Minutes
      </span>
      <span>
        <div id="s">54</div>
        Seconds
      </span>
    </div>
  </div>
  <div class="newsletter-col col">
    <div class="newsletter middle">
      <h2>We Are Launching Soon</h2>
      <h4>Subscribe to get notification when we start</h4>
      <form action="">
        <input type="text" placeholder="Enter Your Email">
        <input class="newsletter-btn" type="button" value="Subscribe">
      </form>
    </div>
  </div>
</div>
<script>
  var comingdate = new Date("feb , 2021 00:00:00");

var d = document.getElementById('d');
var h = document.getElementById('h');
var m = document.getElementById('m');
var s = document.getElementById('s');

var x = setInterval(function(){
  var now = new Date();
  var des = comingdate.getTime() - now.getTime();
  var days = Math.floor(des/(1000 * 60 * 60 * 24));
  var hours = Math.floor(des%(1000 * 60 * 60 * 24) / (1000 * 60 *60));
  var mins = Math.floor(des%(1000 * 60 * 60) / (1000 * 60));
  var secs = Math.floor(des%(1000 * 60) / 1000);

  d.innerHTML = getTrueNumber(days);
  h.innerHTML = getTrueNumber(hours);
  m.innerHTML = getTrueNumber(mins);
  s.innerHTML = getTrueNumber(secs);

  if(des <= 0) clearInterval(x);

},1000);

function getTrueNumber(x) {
  if (x<10) return '0'+x;
  else return x;
}
</script>


<!-- sample -->
<div class="container-fluid">
  <div class=" col-12 text-center" id="about-us-sec1">
   <h1>About us</h1>
   <h5>Mapstreak is a company that provides all services like tiffin, food delivery, salon, beauty and spa, carpenter, plumber, electrician, medicine, and many more at affordable costs from the comfort of your home.
  </h5>
  </div>
</div>

<!-- sample -->
<div class="container ">
<div class="card-deck">
  <div class="card" id="cards">
    <img class="card-img-top" src="Images/preview-img1.png" alt="Card image cap">
    <div id="card-span">
      <h5 class="card-text text-left">Order Tiffin</h5>
    </div>
  </div>
  <div class="card" id="cards">
    <img class="card-img-top" src="Images/preview-img2.png" alt="Card image cap">
    <div id="card-span">
      <h5 class="card-title text-left">Food delivery </h5>
    </div>
  </div>
  <div class="card" id="cards">
    <img class="card-img-top" src="Images/preview-img3.png" alt="Card image cap">
    <div id="card-span">
      <h6 class="card-title text-left">This could be Your services</h6>
    </div>
  </div>
</div>
</div>

<div class="container-fluid" id="joinus">
  <div>
   <h2 ><b>Partnership with us and add your services here</b></h2>
   <a href="/partnerwithus"><button class="w3-button w3-black w3-border-round w3-section button1" type="submit">
    <i class="fa fa-paper-plane"></i> Join us
   </button></a>
  </div>
</div>

<!-- End page content -->

<!-- Footer -->

<%- include('partials/footer'); -%>

</body>
</html>
