
<%- include('partials/header'); -%>

<!--countdown-->
<div class="page">
  <div class="countdown-col col">
    <div class="time middle">
      <span>
        <div id="d">12</div>
        Days
      </span>
      <span>
        <div id="h">06</div>
        Hours
      </span>
      <span>
        <div id="m">35</div>
        Minutes
      </span>
      <span>
        <div id="s">54</div>
        Seconds
      </span>
    </div>
  </div>
  <div class="newsletter-col col">
    <div class="newsletter middle">
      <h2>We Are Launching Soon</h2>
      <h4>Subscribe to get notification when we start</h4>
      <form action="">
        <input type="text" placeholder="Enter Your Email">
        <input class="newsletter-btn" type="button" value="Subscribe">
      </form>
    </div>
  </div>
</div>
<script>
  var comingdate = new Date("feb , 2021 00:00:00");

var d = document.getElementById('d');
var h = document.getElementById('h');
var m = document.getElementById('m');
var s = document.getElementById('s');

var x = setInterval(function(){
  var now = new Date();
  var des = comingdate.getTime() - now.getTime();
  var days = Math.floor(des/(1000 * 60 * 60 * 24));
  var hours = Math.floor(des%(1000 * 60 * 60 * 24) / (1000 * 60 *60));
  var mins = Math.floor(des%(1000 * 60 * 60) / (1000 * 60));
  var secs = Math.floor(des%(1000 * 60) / 1000);

  d.innerHTML = getTrueNumber(days);
  h.innerHTML = getTrueNumber(hours);
  m.innerHTML = getTrueNumber(mins);
  s.innerHTML = getTrueNumber(secs);

  if(des <= 0) clearInterval(x);

},1000);

function getTrueNumber(x) {
  if (x<10) return '0'+x;
  else return x;
}
</script>

<div class="container-fluid">
  <div class=" col-12 text-center" id="about-us-sec1">
   <h1>About us</h1>
   <h4>Mapstreak is a company that provides all services like tiffin, food delivery, salon, beauty and spa, carpenter, plumber, electrician, medicine, and many more at affordable costs from the comfort of your home.
  </h4>
  </div>
</div>

<!-- sample -->
<div class="container">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="Images/preview-img1.png" alt="Card image cap">
    <div class="card-body text-center" id="card-span">
      <h5 class="card-title">Order Tiffin</h5>
      <button class="w3-button w3-black w3-section" type="submit">
        View more
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="Images/preview-img2.png" alt="Card image cap">
    <div class="card-body text-center" id="card-span">
      <h5 class="card-title text-center">Food delivery </h5>
      <button class="w3-button w3-black w3-section" type="submit">
        View more
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="Images/preview-img3.png" alt="Card image cap">
    <div class="card-body text-center" id="card-span">
      <h5 class="card-title text-center">Beauty</h5>
      <button class="w3-button w3-black w3-section" type="submit">
        View more
      </button>
    </div>
  </div>
</div>
</div>


<!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Join with us</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- End page content -->

<!-- Footer -->

<%- include('partials/footer'); -%>

</body>
</html>
