<%- include('partials/partnerhead'); -%>
<main style="background-image: url(assets/img/background/bg.png); color:rgb(255, 255, 255)">
        <!-- Merchent section -->
  <div class="w3-container w3-padding-32" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 text-center"  style="color: rgb(255, 255, 255);" >Partnership with us</h3>
    <p style="color: whitesmoke">*Please fill the form below to add your services</p>
  </div>

 <div class="container"> 
  <form >
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Name" required>
        </div>
      </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone no.</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" placeholder="Phone no." required>
        </div>
      </div>
      <div class="form-group row">
        <label for="Outlet" class="col-sm-2 col-form-label">Outlet name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Outlet name" required>
        </div>
      </div>
    <div class="form-group-row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          I accept <a href="terms&condition.html" style=" color:black">terms and conditions</a>
        </label>
        </div>
      </div>
    <div class="form-group row" style="margin-bottom: 0px;">
       <div class="col-sm-10">
         <button type="button" class="btn btn-dark" type="submit" style="padding-bottom: 15px;padding-top: 15px;margin-top: 20px; margin-bottom: 20px; border-radius:26px">
           <i class="fa fa-paper-plane"></i> submit
         </button> 
        </div>
      </div>
  </form>
</div>
</main>
    
      <!-- Footer Start-->
      <%- include('partials/footer'); -%>


  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>