<%- include('partials/partnerhead'); -%>
    <div class="container">
        <div class="col-12" style="padding-top:20px;"><h3 style="font-family: Georgia, 'Times New Roman', Times, serif;"><b>Partnership with us</b></h3>
        </div>
        <div class="w3-hide-medium w3-hide-large" >
            <img src="assets/img/background/Business deal-pana.svg" style="width:90%" alt="" >
         </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form>
                    <div class="form-row">
                      <div class="form-group" id="input-feilds" >
                        <label for="name">Name</label>
                        <input type="text" class="form-control shadow"  name="full_name" placeholder="name" required>
                        
                      </div>
                      <div class="form-group" id="input-feilds">
                        <label for="email">Email ID</label>
                        <input type="text" class="form-control shadow"  name="email" placeholder="Email ID" required>
                        <div class= "email error"></div>
                      </div>
                      
                    </div>
                    <div class="form-row">
                        <div class="form-group" id="input-feilds">
                          <label for="address">Address</label>
                          <textarea type="text" class="form-control shadow" name="address" placeholder="Address" row="2" required></textarea>
                        </div>
                        <div class="form-group" id="input-feilds">
                          <label for="mobile_no">Phone Number</label>
                          <input type="number" class="form-control shadow"  name="mobile_no" placeholder="phone no." required>
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group" id="input-feilds">
                          <label for="password">Password</label>
                          <input type="password" class="form-control shadow"  name="password" placeholder="Password" required>
                          <div class= "password error"></div>
                        </div>
                        
                        <div class="form-group" id="input-feilds">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control shadow"  name="confirmPassword" placeholder="Confirm password" required>
                            <div class= "confirmPassword error"></div>
                          </div>
                          
                      </div>
                    <div class="form-row" id="input-feilds">
                        <div class="form-group">
                          <button class="btn btn-dark" type="submit" style="padding-bottom: 15px;padding-top: 15px;margin-top: 20px; margin-bottom: 20px; border-radius:8px">
                            <i class="fa fa-paper-plane"></i> submit
                          </button> 
                          
                         </div>
                       </div>
                  </form>
            </div>
            <div class="col-6 w3-hide-small w3-hide-medium" >
               <img src="assets/img/background/Business deal-pana.svg" style="width:90%" alt="" >
            </div>
        </div>
    </div>
    
    <div>
        <div class="container">
                <!-- Section Tittle -->
                <div class="col-12" style="padding-top:20px;">
                    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;"><b>Benefits for our Partners</b></h3>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 " id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <img class="card-img-top" src="assets/img/service/3D-01.png" alt="Card image cap">
                            </div>
                            <div class="process-cap">
                                <b style="font-size: larger;font-weight:850;">BUSINESS GROWTH</b><br>
                            <p>Grow your business multifold times.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 " id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <img class="card-img-top" src="assets/img/service/3D-02.png" alt="Card image cap">
                            </div>
                            <div class="process-cap">
                                <b style="font-size: larger;font-weight:850;">BRAND VALUE</b><br>
                            <p>We will help you build and increase your brand value.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 " id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <img class="card-img-top" src="assets/img/service/3D-03.png" alt="Card image cap">
                            </div>
                            <div class="process-cap">
                                <b style="font-size: larger;font-weight:850;">MULTIPLE CUSTOMERS & ORDERS</b><br>
                            <p>Get multiple orders from different customers and different areas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <img class="card-img-top" src="assets/img/service/3D-04.png" alt="Card image cap">
                            </div>
                            <div class="process-cap">
                                <b style="font-size: larger;font-weight:850;">TECHNICAL SUPPORT</b><br>
                            <p>Manage all your orders and bookings in just one click.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 " id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 " id="benifits-tab">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <img class="card-img-top" src="assets/img/service/3D-05.png" alt="Card image cap">
                            </div>
                            <div class="process-cap">
                                <b style="font-size: larger;font-weight:850;">HELPLINE SUPPORT</b><br>
                            <p>24x7 help avilable to clear your querries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Form End -->

      
</main>
<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const confirmPasswordError = document.querySelector('.confirmPassword.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      confirmPasswordError.textContent = '';
      emailError.textContent='';
      passwordError.textContent = '';
      // get values
      const full_name = form.full_name.value;
      const address = form.address.value;
      const mobile_no = form.mobile_no.value;
      const email = form.email.value;
      const password = form.password.value;
      const confirmPassword = form.confirmPassword.value;
      try {
        const res = await fetch('/merchant_signup', { 
          method: 'POST', 
          body: JSON.stringify({full_name,address,mobile_no,email,password,confirmPassword}),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          confirmPasswordError.textContent = data.errors.confirmPassword;
          emailError.textContent= data.errors.email;
          passwordError.textContent = data.errors.password;
        }
          else{
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>

