<%- include('partials/header'); -%>
    <main>
        <!-- Terms & conditions -->
        <div class="container">
            <div class="display-4" style="padding-top: 30px;">Privacy Policy</div>
            <hr>
            <p>
                Please read the following terms very carefully before you download, install or use mapstreak app or website. 
You agree to comply with and be legally bound by the terms and conditions of these terms, whether or not you become a registered user of the services. These terms govern your access to and use of the app and constitute a binding legal agreement between you and mapstreak.
These terms may be subject to change from time to time, and accordingly you are advised to refer back to these terms before registering on the app.

            </p>
            <p>
                ● As the operators of the “mapstreak.com” web app, mapstreak e-business private limited (“we“, “us”, “our”) is committed to protecting and respecting your privacy. this privacy policy (“policy”) sets out the basis on which the personal data collected from you, or that you provide to us will be processed by us.
            </p>               
            <h2>Collection  Of Personal Information</h2>  
            <p>
            <ol class="list-style-type: decimal;">
                <li>1. We collect data when users create or update their accounts. this may include their name, email, phone number, address,photos,bank payment transactions etc.we may use the photos submitted by users to verify their identities, such as through facial recognition technologies.</li>
                <li>2. If you contact us, we may keep a record of that correspondence</li>
                <li>3. Details of your visits to our app including, but not limited to, traffic data, location data, weblogs and other communication data, and the resources that you access, so we may compile statistics relating to your use of the app, such as monitoring the most popular listings on the app.</li>
                <li>4. We may collect demographic data about users, including through user surveys. In some countries, we may also receive demographic data about users from third parties.</li>
            </ol>
            </p>
            <div>
                <h2>
                   Use Of Personal Data 
                </h2>
                <ol>
                <li>1. To enhance the safety and security of our users and services</l>
                <li>2. For customer support</li>
                <li>3. For research and development</li>
                <li>4. To enable communications between users</li>
                <li>5. To send marketing and non-marketing communications to users</li>
                <li>6. In connection with legal proceedings</li>
                <li>7. We take appropriate measures to ensure that any personal data is kept secure and kept for the duration of your use of our service. unfortunately, the transmission of information via the internet is not completely secure. although we will do our best to protect your personal data, we cannot guarantee the security of your data when transmitted to our app; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</li>
                </ol>               
            </div>
          <div>
              <h2>
                Cookies Technologies
              </h2>
              <p>
                Cookies are small web files that a site or its provider transfers to your device’s hard drive through your web browser that enables the site’s or provider’s system to recognize your browser and remember certain information.
              </p>
              <ol>
                  <li>1. To make our services function properly;</li>
                  <li>2. To improve our services;</li>
                  <li>3. To recognize you when you return to doordash and to remember information you have already provided, such as items already in your order cart;</li>
                  <li>4. To collect information about your activities over time and across third party websites or other online services in order to deliver content and advertising tailored to your interests; </li>
                  <li>5. To provide a secure browsing experience during your use of our services</li>
              </ol>
          </div>
          <div>
              <h2>
                  Sharing Of Personal Information With Third Parties
              </h2>
              <p>
                We may share your information with our third-party service providers for certain business purposes. This information is provided in order for them to provide us services such as payment processing, advertising services, marketing partners, web analytics, data processing, IT services, customer support and other services. These third-party service providers have access to your personal information only for the purpose of performing services on our behalf and are expressly obligated not to disclose or use your personal information for any other purpose.
To help provide you with a high-quality delivery we also may share your information
We recognize that information related to your orders could contain private information. However, we may be required to disclose your information to third parties including law enforcement agencies when required to protect and defend our legal rights, protect the safety and security of users of our services, prevent fraud, comply with the law, respond to legal process, or a request for cooperation by a government entity. we have developed a process that strikes a balance between protecting customer privacy and responding to valid law enforcement requests that can be found at www.mapstreak.com
we also may share or disclose your information with your consent or at your direction. 

              </p>
          </div>
          <div>
              <h2>
                Data Retention 
              </h2>
              <p>
                We will retain your personal information for as long as your account is active or as needed to provide you services and to maintain a record of your transactions for financial reporting purposes. We will also retain and use your personal information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
              </p>
          </div>
          <div>
              <h2>
                Social Media Platform
              </h2>
              <p>
                You may choose to enable or log in to our services via various online services, including social networking services like facebook and google. our services also may enable you to access social networking services such as facebook, twitter, or instagram (collectively, “social network”) directly or indirectly through our services.
              </p>
          </div>
          <div>
              <h2>
                Your Rights
              </h2>
              <p> You have the right to know the personal information we collect, use, disclose, and sell about you.
You have the right to request that we delete any personal information we have collected from you or maintain about you. we may save personal information when permitted by applicable law including, without limitation, when the information is needed for a legal purpose
</p>
          </div>
          <div>
              <h2>
                Changes To Our Privacy Policy
              </h2>
              <p>
                We reserve the right to modify this privacy policy at any time. any changes we may make to our privacy policy in the future will be notified and made available to you using the app. your continued use of the services and the app shall be deemed your acceptance of the varied privacy policy
              </p>
            </div>
            
          

    </main>
   </body>
   <%- include('partials/footer'); -%>
    <!-- </footer> -->

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>