<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mapstreak</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/price_rangs.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="form.html">Partnership With us</a></li>
                                        </ul>
                                    </nav>
                                </div>          
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="btn head-btn1">Register</a>
                                    <a href="#" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Terms & conditions -->
        <div class="container">
            <div class="display-4" style="padding-top: 30px;">Terms & Conditions</div>
            <hr>
            <p>
                These Terms of Use ("Terms'') govern your access or use, from within the India  and its territories and possessions, of the multi-sided digital marketplace platform (“MApSTREAK Marketplace platform”) and any related content or services (collectively, the “Services,” as more fully defined below in Section ) made available in the India and its territories and possessions by MApSTREAK Technologies, Inc. and its subsidiaries, representatives, affiliates, officers and directors (collectively, "MApSTREAK"). please read these terms carefully, as they constitute a legal agreement between you and mapstreak. In these Terms, the words "including" and "include" mean "including, but not limited to."
            </p>
            <p>
                User" or "You" or "Your" refers to you, as a user of the Services. A user is someone who accesses or uses the Services for the purpose of sharing, displaying, hosting, publishing, transacting, or uploading information or views or pictures and includes other persons jointly participating in using the Services including without limitation a user having access to 'restaurant business page' to manage claimed business listings or otherwise.
                By accessing or using the Services, you confirm your agreement to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Services. These Terms expressly supersede prior agreements or arrangements with you regarding the use of the Services. <br><br>
                You are advised to print and retain a copy of these terms for your future reference.<br>
                These terms may be subject to change from time to time, and accordingly you are advised to refer back to these terms before registering on the ap.<br>
            </p>               
            <h2>Use of platform/Services & Registration</h2>  
            <p>
            <ol class="list-style-type: decimal;">
                <li>1. You may be required to register for an account to use parts of the Services.</li>
                <li>2. You must provide accurate, current, and complete information during the registration process and at all other times when you use the Services, and to update the information to keep it accurate, current, and complete.</li>
                <li>3. You are the sole authorized user of any account you create through the Services.</li>
                <li>4. You are solely and fully responsible for all activities that occur under your password or account.</li>
                <li>5. You agree that you shall monitor your account to prevent use by minors, and you will accept full responsibility for any unauthorized use of your password or your account.</li>
                <li>6. You may not authorize others to use your User status, and you may not assign or otherwise transfer your User account to any other person or entity.</li>
                <li>7. Should you suspect that any unauthorized party may be using your password or account, you will notify Mapstreak immediately.</li>
                <li>8. Mapstreak will not be liable and you may be liable for losses, damages, liability, expenses, and fees incurred by Mapstreak or a third party arising from someone else using your account, regardless of whether you have notified us of such unauthorized use.</li>
                <li>9. If you provide any information that is untrue, inaccurate, not current, or incomplete, or Mapstreak has reasonable grounds to suspect that such information is untrue, inaccurate, not current, or incomplete, Mapstreak has the right to suspend or terminate your account and refuse any and all current or future use of the Services (or any portion thereof).</li>
                <li>10. You agree not to create an account or use the Services if you have been previously removed by DoorDash, or if you have been previously banned from use of the Services.</li>
            </ol>
            </p>
            <div>
                <h2>
                    User Accounts
                </h2>
                <ol>
                <li>1. In order to use most aspects of the Services, you must register for and maintain an active personal user Services account ("Account").</l>
                <li>2. You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18), to obtain an Account, unless a specific Service permits otherwise.</li>
                <li>3. You cannot register for or maintain an Account if you have previously been banned from accessing or using the Services</li>
                <li>4. Account registration requires you to submit to Mapstreak certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method suported by Mapstreak.</p>
                <li>5. For more information regarding Mapstreak’s use of your personal information, please see our privacy Notice.</li>
                <li>6. You agree to maintain accurate, complete, and up-to-date information in your Account, including a valid phone number, address and payment method. </li>
                <li>7. Your failure to comply with these Terms (including policies and suplemental terms) including, without limitation, your failure to maintain accurate, complete, and up-to-date Account information, including having an invalid or expired payment method on file, may result in your inability to access or use the Services. </li>
                <li>8. You are responsible for all activity that occurs under your Account, and you agree to maintain the security and secrecy of your Account username and password at all times. Unless otherwise permitted by Mapstreak in writing, you may only possess one Account. <li>
                </ol>               
            </div>
          <div>
              <h2>
                User Content
              </h2>
              <ol>
                  <li>1.	Mapstreak  may provide you with interactive opportunities through the Services, including, by way of example, the ability to post User ratings and reviews (collectively, “User Content”).</li>
                  <li>2.	 You represent and warrant that you are the owner of, or otherwise have the right to provide, all User Content that you submit, post and/or otherwise transmit through the Services. </li>
                  <li>3.	You hereby grant Mapstreak  a perpetual, irrevocable, transferable, fully paid, royalty-free, non-exclusive, worldwide, fully sublicensable right and license to use, copy, display, publish, modify, remove, publicly perform, translate, create derivative works, distribute and/or otherwise use the User Content in connection with Mapstreak’s business and in all forms now known or hereafter invented (“Uses”), without notification to and/or approval by you.</li>
                  <li>4.	 You further grant Mapstreak a license to use your username and/or other User profile information, including without limitation your ratings history, to attribute User Content to you in connection with such Uses, without notification or approval by you</li>
                  <li>5.	 You agree that this license includes the right for other Users to access and use your User Content in conjunction with participation in the Services and as permitted through the functionality of the Services.</li>
                  <li>6.	 In the interest of clarity, the license granted to Mapstreak  herein shall survive termination of the Services or your account. Mapstreak reserves the right in its sole discretion to remove or disable access to any User Content from the Services, suspend or terminate your account at any time, or pursue any other remedy or relief available under equity or law if you post any User Content that violates this Agreement or we consider to be objectionable for any reason.</li>
                  <li>7.	 You agree that Mapstreak  may monitor and/or delete your User Content (but does not assume the obligation) for any reason in Mapstreak’s sole discretion. Mapstreak  may also access, read, preserve, and disclose any information as Mapstreak  reasonably believes is necessary to (i) satisfy any applicable law, regulation, legal process, or governmental request, (ii) enforce this Agreement, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security, or technical issues, (iv) respond to User support requests, or (v) protect the rights, property or safety of  Mapstreak, its users and the public.</li>
              </ol>
          </div>
          <div>
              <h2>
                  Feedback
              </h2>
              <ol>
                  <li>1.	You agree that any submission of any ideas, suggestions, and/or proposals to Mapstreak through its suggestion, feedback, wiki, forum or similar pages (“Feedback”) is at your own risk and that Mapstreak  has no obligations (including without limitation, obligations of confidentiality) with respect to such Feedback.</li>
                  <li>2.	 You represent and warrant that you have all rights necessary to submit the Feedback and you hereby grant to Mapstreak a perpetual, irrevocable, transferable, fully paid, royalty-free, non-exclusive, worldwide, fully sublicensable right and license to use, copy, display, publish, modify, remove, publicly perform, translate, create derivative works, distribute and/or otherwise use such Feedback.</li>
              </ol>
          </div>
          <div>
              <h2>
                Ratings and Reviews 
              </h2>
              <ol>
                  <li>1.	To the extent that you are asked to rate and post reviews of Merchants or other businesses (“Ratings” and “Reviews”), such Ratings and Reviews are considered User Content and are governed by this Agreement. Ratings and Reviews are not endorsed by Mapstreak and do not represent the views of  Mapstreak or its affiliates.</li>
                  <li>2. Mapstreak  shall have no liability for Ratings and Reviews or for any claims for economic loss resulting from such Ratings and Reviews. Because we strive to maintain a high level of integrity with respect to Ratings and Reviews posted or otherwise made available through the Services, you agree that: (i) you will base any Rating or Review on first-hand experience with the Merchant or business; (ii) you will not provide a Rating or Review for any Merchant or business for which you have an ownership interest, employment relationship or other affiliation or for any of that company’s competitors; (iii) you will not submit a Rating or Review in exchange for payment, free food items, or other benefits from a Merchant or business; and (iv) your review will comply with the terms of this Agreement.</li>
                  <li>3.	 If we determine, in our sole discretion, that any Rating or Review could diminish the integrity of the Ratings and Reviews or otherwise violates this Agreement, we may remove such User Content without notice.</li>
              </ol>
          </div>
          <div>
              <h2>
                Network Access and Devices.
              </h2>
              <ol>
                  <li>1.	You are responsible for obtaining the data network access necessary to use the Services.</li>
                  <li>2.	 Your mobile network's data and messaging rates and fees may apply if you access or use the Services from your device.</li>
                  <li>3.	 You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services and Applications and any updates thereto</li>
                  <li>4.	Mapstreak does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices</li>
                  <li>5. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.</li>
              </ol>
          </div>
          <div>
              <h2>
                Restrictions on use
              </h2>
              <p>Without limiting the generality of these Terms, in using the Services, you specifically agree not to post or transmit any content (including review) or engage in any activity that, in our sole discretion:</p>
              <ol>
                  <li>1.	Violate our Guidelines and Policies;</li>
                  <li>2.	Is harmful, threatening, abusive, harassing, tortious, indecent, defamatory, discriminatory, vulgar, profane, obscene, libellous, hateful or otherwise objectionable, invasive of another's privacy, relating or encouraging money laundering or gambling;</li>
                  <li>3.	Constitutes an inauthentic or knowingly erroneous review, or does not address the goods and services, atmosphere, or other attributes of the business you are reviewing.</li>
                  <li>4.	Contains material that violates the standards of good taste or the standards of the Services</li>
                  <li>5.	Violates any third-party right, including, but not limited to, right of privacy, right of publicity, copyright, trademark, patent, trade secret, or any other intellectual property or proprietary rights</li>
                  <li>6.	Accuses others of illegal activity, or describes physical confrontations</li>
                  <li>7.	Alleges any matter related to health code violations requiring healthcare department reporting. Refer to our Guidelines and Policies for more details about health code violations.</li>
                  <li>8.	Is illegal, or violates any federal, state, or local law or regulation (for example, by disclosing or trading on inside information in violation of securities law)</li>
                  <li>9.	Attempts to impersonate another person or entity</li>
                  <li>10.	Disguises or attempts to disguise the origin of Your Content, including but not limited to by: (i) submitting Your Content under a false name or false pretences; or (ii) disguising or attempting to disguise the IP address from which Your Content is submitted</li>
                  <li>11.	Constitutes a form of deceptive advertisement or causes, or is a result of, a conflict of interest</li>
                  <li>12.	Is commercial in nature, including but not limited to spam, surveys, contests, pyramid schemes, postings or reviews submitted or removed in exchange for payment, postings or reviews submitted or removed by or at the request of the business being reviewed, or other advertising materials</li>
                  <li>13.	Asserts or implies that Your Content is in any way sponsored or endorsed by us</li>
                  <li>14.	Contains material that is not in English or, in the case of products or services provided in foreign languages, the language relevant to such products or services</li>
                  <li>15.	Falsely states, misrepresents, or conceals your affiliation with another person or entity</li>
                  <li>16.	Accesses or uses the account of another user without permission</li>
                  <li>17.	Distributes computer viruses or other code, files, or programs that interrupt, destroy, or limit the functionality of any computer software or hardware or electronic communications equipment</li>
                  <li>18.	Interferes with, disrupts, or destroys the functionality or use of any features of the Services or the servers or networks connected to the Services</li>
                  <li>19.	"Hacks" or accesses without permission our proprietary or confidential records, records of another user, or those of anyone else</li>
                  <li>20.	Violates any contract or fiduciary relationship (for example, by disclosing proprietary or confidential information of your employer or client in breach of any employment, consulting, or non-disclosure agreement)</li>
                  <li>21.	Decompiles, reverse engineers, disassembles or otherwise attempts to derive source code from the Services</li>
                  <li>22.	Removes, circumvents, disables, damages or otherwise interferes with security-related features, or features that enforce limitations on use of, the Services</li>
                  <li>23.	Violates the restrictions in any robot exclusion headers on the Services, if any, or bypasses or circumvents other measures employed to prevent or limit access to the Services</li>
                  <li>24.	Collects, accesses, or stores personal information about other users of the Services.</li>
                  <li>25.	Is posted by a bot.</li>
                  <li>26.	Harms minors in any way.</li>
                  <li>27.	Threatens the unity, integrity, defense, security or sovereignty of India or of the country of use, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.</li>
                  <li>28.	Modifies, copies, scrapes or crawls, displays, publishes, licenses, sells, rents, leases, lends, transfers or otherwise commercialize any rights to the Services or Our Content. or Attempts to do any of the foregoing.</li>
              </ol>
          </div>
          <div>
              <h2>
                Limitation of Liability. Indemnity
              </h2>
              <li>1.	The services are provided "as is" and "as available mapstreak representations and warranties, express, implied, or statutory, not expressly set out in these terms, including the implied warranties of merchantability, fitness for a particular purpose and non-infringement. in addition, Mapstreak makes no representation, warranty, or guarantee regarding the reliability, timeliness, quality, suitability, or availability of the services or any services or goods requested through the use of the services, or that the services will be uninterrupted or error-free.</li>
              <li>2.	Mapstreak does not guarantee the quality, suitability, safety or ability of third party providers. you agree that the entire risk arising out of your use of the services, and any service or good requested in connection therewith, remains solely with you, to the maximum extent permitted under applicable law.</li>
              <li>3.	Mapstreak  does not control, manage or direct any third party providers including drivers. third party providers are not actual agents, apparent agents, ostensible agents, or employees of Mapstreak.</li>
              <li>4.	Mapstreak  does not control, endorse or take responsibility for any user content or third party content available on or linked to by the services. Mapstreak cannot and does not represent or warrant that the services or servers are free of viruses or other harmful components.</li> 
            </div>
            <div>
                <h2>
                    General Terms & Conditions:
                </h2>
                <ol>
                    <li>1.	We reserve the right to accept or refuse membership in our sole discretion</li>
                    <li>2.	We may send you email, and other communication related to Mapstreak and your Mapstre Membersk membership (regardless of any settings or preferences related to your Mapstreak account).</li>
                    <li>3.	You may not transfer or assign your Mapstreak Membership , except as allowed in these Terms.</li>
                    <li>4.	From time to time, We may choose in its sole discretion to add or remove Mapstreak Membership benefits.</li>
                    <li>5.	The delivery services shall be, and always be, provided by the third party and mapstreak does not guarantee the provision of these services.</li>
                    <li>6.	These benefits may not be applicable to those Merchants who undertake delivery of their goods and services on their own.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Termination
                </h2>
                <ol>
                    <li>1.	You may choose to terminate the Mapstreak membership and a notice communicating such intention shall be sent to Mapstreak and upon such termination the membership fee shall be appropriated.</li>
                    <li>2.	We may terminate your Mapstreak membership at our discretion without notice. If we do so, we will issue a credit note to you and give you a prorated refund based on the number of full months remaining in your membership. However, we will not give any refund for termination related to conduct that we determine, in our discretion, violates these Terms or any applicable law, involves fraud or misuse of the Mapstreak membership, or is harmful to our interests or another user. Our failure to insist upon or enforce your strict compliance with these Terms will not constitute a waiver of any of our rights.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Disclaimer of Warranties
                </h2>
                <ol>
                    <li>1.	You acknowledge and agree that the services are provided "as is" and "as available" and that your use of the services shall be at your sole risk. to the fullest extent permitted by applicable law, mapstreak, its affiliates and their respective officers, directors, employees, agents, affiliates, branches, subsidiaries, and licensors ("mapstreak parties") disclaim all warranties, express or implied, in connection with the services including mobile apps and your use of them. to the fullest extent permitted by applicable law, the mapstreak parties make no warranties or representations that the services have been and will be provided with due skill, care and diligence or about the accuracy or completeness of the services' content and assume no responsibility for any</li>
                    <ol>
                        <li>(i) errors, mistakes, or inaccuracies of content</li>
                        <li> (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the services</li>
                        <li>(iii) any unauthorized access to or use of our servers and/or any and all personal information stored therein</li>
                        <li>(iv) any interruption or cessation of transmission to or from the services</li>
                        <li>(v) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the services through the actions of any third party </li>
                        <li>(vi) any loss of your data or content from the services </li>
                        <li>(vii) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the services.</li>
                    </ol>
                    <li>2.	 Any material downloaded or otherwise obtained through the use of the services is done at your own discretion and risk and you will be solely responsible for any damage to your computer system or other device or loss of data that results from the download of any such material. the mapstreak parties will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services. you are solely responsible for all of your communications and interactions with other users of the services and with other persons with whom you communicate or interact as a result of your use of the services. no advice or information, whether oral or written, obtained by you from mapstreak or through or from the services shall create any warranty not expressly stated in the terms. </li>
                    <li>3.	Unless you have been expressly authorized to do so in writing by mapstreak, you agree that in using the services, you will not use any trade mark, service mark, trade name, logo of any company or organization in a way that is likely or intended to cause confusion about the owner or authorized user of such marks, names or logos.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Limitation of Liability.
                </h2>
                <ol>
                    <li>1.	Mapstreak shall not be liable for indirect, incidental, special, exemplary, punitive, or consequential damages, including lost profits, lost data, personal injury, or property damage related to, in connection with, or otherwise resulting from any use of the services, regardless of the negligence (either active, affirmative, sole, or concurrent) of uber, even if uber has been advised of the possibility of such damages.</li>
                    <li>2.	mapstreak  shall not be liable for any damages, liability or losses arising out of: (i) your use of or reliance on the services or your inability to access or use the services. or (ii) any transaction or relationship between you and any third party provider, even if uber has been advised of the possibility of such damages. uber shall not be liable for delay or failure in performance resulting from causes beyond mapstreak's reasonable control. you acknowledge that third party providers providing transportation services requested through some mapstreak  services may offer ridesharing or peer-to-peer transportation services and may not be professionally licensed or permitted. you acknowledge that third party providers are not ostensible agents, apparent agents, actual agents, or employees of mapstreak.</li>
                    <li>3.	The services may be used by you to request and schedule transportation, goods, or logistics services with third party providers, but you agree that uber has no responsibility or liability to you related to any transportation, goods or logistics services provided to you by third party providers other than as expressly set forth in these terms.</li>
                    <li>4.	Mapstreak shall not be liable for any damages, liability or losses arising out of lack of or improper installation or use of child restraint systems for guests on rides requested through the services for whom a child restraint system is legally required.</li>
                    <li>5.	The limitations and disclaimers in this section do not purport to limit liability or alter your rights as a consumer that cannot be excluded under applicable law. because some states or jurisdictions do not allow the exclusion of or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, uber’s liability shall be limited to the extent permitted by law. this provision shall have no effect on mapstreak’s choice of law provision set forth below.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Indemnity.
                </h2>
                <p>You agree to indemnify and hold Mapstreak and its affiliates and their officers, directors, employees, and agents harmless from and against any and all actions, claims, demands, losses, liabilities, costs, damages, and expenses (including attorneys' fees), arising out of or in connection with:</p>
                <ol>
                    <li>(i) your use of the Services or services or goods obtained through your use of the Services.</li>
                    <li>(ii) your breach or violation of any of these Terms. </li>
                    <li>(iii) Mapstreak's use of your User Content.</li>
                    <li>(iv) your violation of the rights of any third party, including Third Party Providers.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Third Party Services and Content.
                </h2>
                <ol>
                    <li>1.	The Services may be made available or accessed in connection with third party services and content (including advertising) that Mapstreak does not control.</li>
                    <li>2.	 Once you click on a link to third party services or content, you will be subject to the terms and conditions and privacy policy of that website, destination, or third party service provider.</li>
                    <li>3.	 Mapstreak will not warn you that you have left the Services or that you are subject to the terms and conditions (including privacy policies) of another website, destination, or third party service provider.</li>
                    <li>4.	 You use all links in third party websites and advertisements at your own risk as these are not part of the Services and are not controlled by Mapstreak. You acknowledge that different terms of use and privacy policies may apply to your use of such third party services and content.</li>
                    <li>5.	 Mapstreak does not endorse such third party services and content and in no event shall Mapstreak be responsible or liable for any products or services of such third party providers.</li>
                </ol>
            </div>
            <div>
                <h2>
                    Payment
                </h2>
            <ol>
                <li>1.	You understand that use of the Services may result in charges to you for the services or goods you receive ("Charges"). </li>
                <li>2.	Mapstreak will enable your payment of the applicable Charges for services or goods obtained through your use of the Services.</li>
                <li>3.	 Charges will include applicable taxes where required by law.</li>
                <li>4.	 Charges may include other applicable fees, product return fees, cancellation fees, estimated or actual tolls, and/or surcharges.</li>
                <li>5.	 Further, you acknowledge and agree that Charges applicable in certain geographical areas may increase substantially during times of high demand or due to other marketplace factors.</li>
                <li>6.	All Charges and payments will be enabled by Mapstreak using the preferred payment method designated in your Account, after which you will receive a receipt. </li>
                <li>7.	If your primary Account payment method is determined to be expired, invalid or otherwise not able to be charged, you agree that Uber may use a secondary payment method in your Account, if available.</li>
                <li>8.	Charges paid by you are final and non-refundable, unless otherwise determined by Mapstreak.</li>
                <li>9.	As between you and Mapstreak, Mapstreak reserves the right to establish or adjust Charges for any or all services or goods obtained through the use of the Services at any time. </li>
                <li>10.	Mapstreak will use reasonable efforts to inform you of Charges that may apply, provided that you will be responsible for Charges incurred under your Account regardless of your awareness of such Charges or the amounts thereof.</li>
                <li>11.Certain users may from time to time receive promotional offers and discounts that may result in different amounts charged for the same or similar services or goods obtained through the use of the Services, and you agree that such promotional offers and discounts, unless also made available to you, shall have no bearing on your use of the Services or the Charges applied to you.</li>
                <li>12.	 Promotional offers and discounts are subject to change or withdrawal at any time and without notice. </li>
                <li>13.	You may elect to cancel your request for Services at any time prior to or after the commencement of such Services, in which case you may be charged a cancellation fee on a Third Party Provider’s behalf.</li>
                <li>14.	With respect to Third Party Providers, Charges you incur will be owed directly to Third Party Providers, and Mapstreak will collect payment of those charges from you, on the Third Party Provider’s behalf as their limited payment collection agent, and payment of the Charges shall be considered the same as payment made directly by you to the Third Party Provider.</li>
                <li>15.	 In such cases, you retain the right to request lower Charges from a Third Party Provider for services or goods received by you from such Third Party Provider at the time you receive such services or goods, and Charges you incur will be owed to the Third Party Provider.</li>
                <li>16.	 Mapstreak will consider in good faith any request from a Third Party Provider to modify the Charges for a particular service or good. This payment structure is intended to fully compensate a Third Party Provider, if applicable, for the services or goods obtained in connection with your use of the Services.</li>
                <li>17.	 Except for amounts provided by you through the Application as part of the “tip” feature, Mapstreak does not designate any portion of your payment as a tip or gratuity to a Third Party Provider.</li>
                <li>18.	 You understand and agree that, while you are free to provide additional payment as a gratuity to any Third Party Provider who provides you with services or goods obtained through the Service, you are under no obligation to do so.</li>
                <li>19.	 There also may be certain Charges you incur that will be owed and paid directly to Mapstreak or its affiliates.</li>
                <li>20.	 For the avoidance of doubt, Mapstreak does not charge a fee for a user to access the Mapstreak Marketplace Platform, but retains the right to charge users a fee or any other Charge for accessing Services made available through the Marketplace Platform.</li>
                <li>21.	 Even if not indicated on the Mapstreak Marketplace Platform, you understand that the prices for product or menu items displayed through the Services may differ from the prices offered or published by Third Party Providers for the same product or menu items and/or from prices available at other third party websites/mobile applications.</li>
                <li>22.	 Prices for product or menu items displayed through the Services may not be the lowest prices at which the product or menu items are sold.</li>
                <li>23.	If you think a correction should be made to any Charge you incurred, you must let Mapstreak know in writing within 10 days after the Charge took place or Mapstreak will have no further responsibility and you waive your right to later dispute the amounts charged.</li>
            </ol>
        </div>
        <div>
            <h2>
                REFUND POLICY
            </h2>
            <p> You may cancel your Order and obtain a full refund of the Price, provided such cancellation is received by the Vendor/Merchant  by mail, or by Merchant cancellation procedure, which needs to be dealt between yourself and Merchant/Vendor.Mapstreak will be not be responsible for any conflicts arise out of the same .</p>
        </div>
          

    </main>
   </body>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                     <p>Heaven frucvitful doesn't cover lesser dvsays apear creeping seasons so behold.</p>
                                </div>
                             </div>
                         </div>

                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Blogs</h4>
                                <ul>
                                    <li><a href="#">Blog 1</a>
                                    </li>
                                    <li><a href="#">Blog 2</a></li>
                                    <li><a href="#">Blog 3</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> Terms & conditions</a></li>
                                    <li><a href="privacy_policy.html"> privacy policy</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">Suport</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                 <p>Heaven fruitful doesn't over lesser in days. Apear creeping.</p>
                             </div>
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                     <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                     method="get" class="subscribe_form relative mail_part">
                                         <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                         class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                         onblur="this.placeholder = ' Email Address '">
                                         <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src="assets/img/icon/form.png" alt=""></button>
                                         </div>
                                         <div class="mt-10 info"></div>
                                     </form>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  -->
               <div class="row justify-content-between">
                <div class="col-xl-12 col-lg-12">
                    <div class="text-center">
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-facebook-f"></i></a></span>
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-twitter"></i></a></span>
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-linkedin-in"></i></a></span>
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-whatsap"></i></a></span>
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-instagram"></i></a></span>
                        <span style="font-size: 2em; color: rgb(255, 255, 255); padding-right: 20px;"><a href="#"><i class="fab fa-youtube"></i></a></span>
                    
                    </div>
                </div>
               </div>
               <div class="row footer-wejed justify-content-between">
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                          <!-- logo -->
                          <div class="footer-logo mb-20">
                            <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                          </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="footer-tittle-bottom">
                                <span>451</span>
                                <p>Talented Hunter</p>
                            </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <!-- Footer Bottom Tittle -->
                            <div class="footer-tittle-bottom">
                                <span>568</span>
                                <p>Talented Hunter</p>
                            </div>
                       </div>
               </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="about.html" target="_blank">Mapstreak</a>
  </p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
       
    </footer>

		
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, poper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/poper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
		<!-- One page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>